/* define Style2*/
.style2 .category{
    margin: 8px 0;
    padding: 3px 10px;
}

.style2 .category .title {
    position: absolute;
    display: inline-block;
    line-height: 60px;
    width: 180px;
    height:60px;
    vertical-align: top;
    text-align: justify;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 130px;
    color: #ffffff;
    letter-spacing: 20px;
    font-family: Microsoft YaHei UI;
    font-size: 60px;
    font-weight: bold;
}

.style2 .category .categoryWrap{
    position: relative;
    height: 120px;
}

.style2 .category .categoryWrap.bgLegal{
    background: #77B3D4 url("../../images/category/style2/legal.png") left -10px center no-repeat;
    border:1px solid #76C2AF;
}

.style2 .category .categoryWrap.bgInsurance{
    background: #E0995E url("../../images/category/style2/insurance.png") left -10px center no-repeat;
    border:1px solid #E0995E;
}

.style2 .category .categoryWrap.bgOthers{
    background: #77B3D4 url("../../images/category/style2/other.png") left -10px center no-repeat;
    border:1px solid #76C2AF;
}

/* category hover and active */
.style2 .categoryWrap:active,
.style2 .categoryWrap:hover {
    -webkit-transform: scale(1.01,1.01);
    -moz-transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01);
    -o-transform: scale(1.01,1.01);
    transform: scale(1.01,1.01);
    border: 1px solid #29DFFF !important;
    box-shadow: 0 0 20px #29DFFF !important;
    text-shadow:-3px 5px 5px #000000, -2px -2px 1px  #E8E9F0;
    font-size: 45px;
    color: #ffffff;
}
