<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">1</div>
        <div class="col-sm-12">2</div>
        <div class="col-sm-12">3</div>
    </div>
    <div class="row">
        <div class="col-sm-12 fixedArea navContainer">
            <div class="col-sm-3 navUnit">
                <div class="glyphicon glyphicon-home scale_2"></div>
            </div>
            <div class="col-sm-3 navUnit">
                <div class="glyphicon glyphicon-menu-left scale_2"></div>
            </div>
            <div class="col-sm-3 navUnit ">
                <div class="glyphicon glyphicon-menu-right scale_2"></div>
            </div>
            <div class="col-sm-3 navUnit ">
                <div class="glyphicon glyphicon-cog scale_2"></div>
            </div>
        </div>
    </div>
</div>