<!--common footer-->
<div class="row">
    <div class="col-xs-12 footerNavContainer">
        <div class="col-xs-3 footerNavUnit navActive first">
            <div class="glyphicon glyphicon-home scale_1_6"></div>
        </div>
        <div class="col-xs-3 footerNavUnit navActive">
            <div class="glyphicon glyphicon-star scale_1_6"></div>
        </div>
        <div class="col-xs-3 footerNavUnit navActive">
            <div class="glyphicon glyphicon-menu-left scale_1_6"></div>
        </div>
        <div class="col-xs-3 footerNavUnit navActive last">
            <div class="glyphicon glyphicon-menu-right scale_1_6"></div>
        </div>
    </div>
</div>