<div class="row">
    <div class="col-xs-12 headerNavContainer">
        <div class="col-xs-10">
            <span class="textLogo" style="font-family: impact;color:#FFFFFF;">H</span>
            <span class="textLogo" style="font-family: impact;color: #1ABC9C;">b</span>
            <span class="textLogo" style="font-family: consolas;color: #34495E;">r</span>
            <span class="textLogo" style="font-family: arial;color: #D35400;">i</span>
            <span class="textLogo" style="font-family: verdana;color: #E74C3C;">d</span>
            <span class="textLogo">&nbsp;</span>
            <span class="textLogo" style="font-family: impact;color: #1ABC9C;">a</span>
            <span class="textLogo" style="font-family: arial;color: #34495E;">p</span>
            <span class="textLogo" style="font-family: verdana;color: #E67E22;">p</span>
        </div>
        <div class="col-xs-2 headNavUnit navActive">
            <div class="glyphicon glyphicon glyphicon-menu-hamburger scale_1_6"></div>
        </div>
    </div>
</div>