<!-- Body -->
<div id="content">
    <div class="row categoryContainer style2">
        <div class="col-xs-12 category category_left">
            <div class="categoryWrap bgLegal">
                <div class="title">legal</div>
            </div>
        </div>
        <div class="col-xs-12 category category_right">
            <div class="categoryWrap bgInsurance">
                <div class="title">insurance</div>
            </div>
        </div>
        <div class="col-xs-12 category category_left">
            <div class="categoryWrap bgOthers">
                <div class="title">other</div>
            </div>
        </div>
        <div class="col-xs-12 category category_right">
            <div class="categoryWrap bgOthers">
                <div class="title">other</div>
            </div>
        </div>
        <div class="col-xs-12 category category_left">
            <div class="categoryWrap bgOthers">
                <div class="title">other</div>
            </div>
        </div>
    </div>
</div>

