<!-- Body -->
<div id="content">
    <div class="row categoryContainer">
        <div class="col-xs-12 category category_left">
            <div class="categoryWrap">
                <img src="./static/images/category/legal.png"/>

                <div class="title">legal</div>
            </div>
        </div>
        <div class="col-xs-12 category category_right">
            <div class="categoryWrap">
                <img src="./static/images/category/insurance.png"/>

                <div class="title">insurance</div>
            </div>
        </div>
        <div class="col-xs-12 category category_left">
            <div class="categoryWrap">
                <img src="./static/images/category/health.png"/>

                <div class="title">other</div>
            </div>
        </div>
        <div class="col-xs-12 category category_right">
            <div class="categoryWrap">
                <img src="./static/images/category/legal.png"/>

                <div class="title">other</div>
            </div>
        </div>
        <div class="col-xs-12 category category_left">
            <div class="categoryWrap">
                <img src="./static/images/category/legal.png"/>

                <div class="title">other</div>
            </div>
        </div>
    </div>
</div>

